.footer{
    background: coral;
    padding-top: 50px;
    padding-bottom: 15px;
}

.footer__logo i {
    color: white;
    font-weight: 400;
}

.footer__logo span{
    color: white;
    font-weight: 500;
}

.footer__logo-content{
    color: aquamarine;
    margin-top: 15px;
    line-height: 30px;
}

.quick__link{
    border: none !important;
    background: transparent !important;
}

.quick__link a {
    color: aquamarine;
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
}

.quick__link a:hover{
    color: blue;
}

.footer__link-title{
    color: white;
}

.office__info{
    color: aquamarine;
    font-weight: 300;
}

.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 50px;
    background: #f3b23a;
}

.newsletter input{
    background: transparent;
    color: aquamarine;
    border: none;
    outline: none;
}

.newsletter span i{
    color: aquamarine;
}

.footer__bottom{
    border-top: 1px solid aquamarine;
}
